.vote-wraooer {
  position: absolute;
  right: 0;
  top: 0;
  background: #fff;
  border: 3px solid;
  border-radius: 50%;
  height: 30px;
  width: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 12px 9px 0 0;
}
span {
  font-family: 'Inter', sans-serif;
  font-size: 12px;
  line-height: 100%;
}
